@import "color";
@import "compass/css3";

$width: 150px;
$height: 350px;

/* Menu generator */

.menu-generator {
	margin: 30px;
	width: 100px;
	padding: 10px;
	border: 2px solid $amber-200;
	a:hover {
		background-position: 0 0;
		opacity: 1;
		outline: none;
		span {
			opacity: 1;
		}
	}
}

.first {
	color: white;
	background-repeat: no-repeat;
	background-position: center 0;
	opacity: 0.3;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

.second {
	transition: 0.2s all;
	opacity: 0;
}

/* Background Color */

.red {
	background-color: $red;
}

.teal {
	background-color: $teal-500;
}

.blue {
	background-color: $indigo-500;
}
