@import "color";
@import "compass/css3";

$width: 150px;
$height: 350px;

/* Generator style */

.choice {
	width: 300px;
	height: 100%;
	padding: 1em;
	background-color: $amber-200;
}

.btn-select {
	width: 30px;
	height: 30px;
	@include border-radius(100%);
	cursor: pointer;
	margin: 5px;
}

/* Hide-Show Menu */

.hide-show {
	width: 300px;
}

a.hide-show {
	display: block;
	width: auto;
	min-width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	text-decoration: none;
	background-position: center 0;
	opacity: 0.3;
	span {
		font-size: 12px;
		line-height: 32px;
		text-align: center;
		opacity: 0;
		@include transition(all, 0.5s);
	}
}


a.hide-show:hover {
	background-position: 0 0;
	opacity: 1;
	span {
		opacity: 1;
	}
}

[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	line-height: 14px;
	vertical-align: text-top;
}
/* Avatar Set */

#avatar * {
	position: absolute;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
}

#avatar {
	position: relative;
	width: $width;
	height: $height;
}

.head {
	top: 10px;
	left: $width/2 - 40;
	height: 110px;
	width: 75px;
	@include border-radius(100%);
	background-color: $amber-50;
}

/* Background Color */

.red {
	background-color: $red;
}

.teal {
	background-color: $teal-500;
}

.blue {
	background-color: $indigo-500;
}