@import "color";
@import "compass/css3";

$width: 150px;
$height: 350px;

/* Background Color */

.red {
	background-color: $red;
}

.teal {
	background-color: $teal-500;
}

.blue {
	background-color: $indigo-500;
}