@import 'compass/reset';
@import 'compass/css3';
@import "compass/typography/vertical_rhythm";
@import "color";
@import "girl";
@import "meri";
@import "flo";
@import "balthi";

$base-font-size: 16px;
$base-line-height: 24px;

@include establish-baseline;

* {
	@include box-sizing(border-box);
}

html, body {
	height: 100%;
	font-family: Roboto-Light;
	background-color: $amber-500;
}

h1 {
	@include adjust-font-size-to(64px);
	@include margin-trailer(.5);
	font-family: Roboto-Medium;
}

h2 {
	@include adjust-font-size-to(24px);
	font-family: Roboto-Regular;
	color: $brown-900;
}

hr {
	border: 0;
	height: 0;
	margin: 0;
}

.flex {
	display: flex;
	flex-wrap: wrap
}

.main {
	padding-top: 30px;
	nav {
		width: 400px;
		border-top: $amber-800;
	}
	a {
		text-decoration: none;
		color: $amber-50;
		:hover {
			text-decoration: none;
			background-color: $teal-400;
			border-top: 3px solid $teal-800;
			border-bottom: none;
		}
	}
	.elem {
		width: 50px;
		height: 50px;
		padding: 1em;
		text-align: center;
		@include border-radius(100%);
		background-color: $teal-400;
		border-bottom: 2px solid $teal-800;
	}
}

.team {
	margin-top: 20px;
}
