<div>
	<a href="#" class="home-link">
		<div class="home icon-home"></div>
	</a>

	<div class="generator flex start">
		<!--<div id="avatar">
			<div class="head"></div>
		</div>-->
		<div class="choice">
			<header>
				<h2>Generate your Avatar</h2>
			</header>
			<section>
			<a href="#" class="hide-show icon-droplet">
				<span>Select Color</span>
				<!--<button class="btn-select red"></button>
				<button class="btn-select teal"></button>
				<button class="btn-select blue"></button>-->
			</a>
			</section>
		</div>
	</div>

</div>