<div class="flex main">
	<section class="section-main">
		<div class="content">
			<div id="girl">

				<div class="head"></div>

				<div class="hair2"></div>
				<div class="cache"></div>
				<div class="hair"></div>
				<div class="hair3"></div>
				<div class="cache1"></div>
				<div class="hair1"></div>

				<div class="eye1"></div>
				<div class="eye2"></div>
				<div class="pupille1"></div>
				<div class="pupille2"></div>

				<div class="neck"></div>
				<div class="cache2"></div>
				<div class="cache3"></div>

				<div class="tees"></div>
				<div class="col"></div>
				<div class="arm1"></div>
				<div class="arm2"></div>

				<div class="ghost"></div>
				<div class="ghost2"></div>
			</div>
		</div>
		<div class="desc2"></div>
		<div class="desc1"></div>
		<div class="desc">
			<p>Jasmine <br>en stage</p>
		</div>
	</section>
	<nav>
		<a href="#/team"><div class="elem">1</div></a>
	</nav>
</div>

