<div class="flex team">
	<div id="girl">

		<div class="head"></div>

		<div class="hair2"></div>
		<div class="cache"></div>
		<div class="hair"></div>
		<div class="hair3"></div>
		<div class="cache1"></div>
		<div class="hair1"></div>

		<div class="eye1"></div>
		<div class="eye2"></div>
		<div class="pupille1"></div>
		<div class="pupille2"></div>

		<div class="neck"></div>
		<div class="cache2"></div>
		<div class="cache3"></div>

		<div class="tees"></div>
		<div class="col"></div>
		<div class="arm1"></div>
		<div class="arm2"></div>

		<div class="ghost"></div>
		<div class="ghost2"></div>
	</div>

	<div id="meri">

		<div class="head-meri"></div>

		<div class="hair-meri"></div>
		<div class="cache-h"></div>
		<div class="hair-meri2"></div>
		<div class="cache-h2"></div>
		<div class="hair-meri3"></div>
		<div class="hair-meri4"></div>
		<div class="cache-h3"></div>

		<div class="eye1-meri"></div>
		<div class="eye2-meri"></div>
		<div class="pupille1"></div>
		<div class="pupille2"></div>

		<div class="neck-meri"></div>
		<div class="cache2"></div>
		<div class="cache3"></div>

		<div class="tees-meri"></div>
		<div class="col-meri"></div>
		<div class="arm1-meri"></div>
		<div class="arm2-meri"></div>

		<div class="ghost-meri"></div>
		<div class="ghost2-meri"></div>
	</div>

	<div id="flo">

		<div class="hair-flo3"></div>
		<div class="cache4-flo"></div>
		<div class="big-hair"></div>
		<div class="head-flo"></div>
		<div class="eye1-flo"></div>
		<div class="eye2-flo"></div>
		<div class="pupille1-flo"></div>
		<div class="pupille2-flo"></div>

		<div class="hair-flo"></div>
		<div class="hair-flo2"></div>



		<div class="neck-flo"></div>
		<div class="cache2-flo"></div>
		<div class="cache3-flo"></div>

		<div class="tees-flo"></div>
		<div class="col-flo"></div>
		<div class="arm1-flo"></div>
		<div class="arm2-flo"></div>
		<div class="hair-flo4"></div>
		<div class="cache5-flo"></div>

		<div class="ghost-flo"></div>
		<div class="ghost2-flo"></div>
	</div>

	<div id="balthi">

		<div class="hair-balthi8"></div>
		<div class="cache9-balthi"></div>
		<div class="hair-balthi7"></div>
		<div class="cache8-balthi"></div>


		<div class="hair-balthi12"></div>
		<div class="cache11-balthi"></div>
		<div class="hair-balthi11"></div>
		<div class="cache12-balthi"></div>


		<div class="head-balthi"></div>
		<div class="eye1-balthi"></div>
		<div class="eye2-balthi"></div>
		<div class="pupille1-balthi"></div>
		<div class="pupille2-balthi"></div>
		<div class="branch"></div>

		<div class="hair-balthi3"></div>
		<div class="cache4-balthi"></div>
		<div class="hair-balthi4"></div>
		<div class="cache5-balthi"></div>
		<div class="hair-balthi5"></div>
		<div class="cache6-balthi"></div>
		<div class="hair-balthi6"></div>
		<div class="cache7-balthi"></div>

		<div class="hair-balthi"></div>
		<div class="hair-balthi10"></div>
		<div class="cache10-balthi"></div>
		<div class="hair-balthi2"></div>

		<div class="neck-balthi"></div>
		<div class="cache2-balthi"></div>
		<div class="cache3-balthi"></div>

		<div class="tees-balthi"></div>
		<div class="col-balthi"></div>
		<div class="arm1-balthi"></div>
		<div class="arm2-balthi"></div>

		<div class="ghost-balthi"></div>
		<div class="ghost2-balthi"></div>
		<div class="grunt">Grünt</div>
	</div>
</div>
